*,
*::after,
*::before {
  box-sizing: border-box;
}

.row, .mobile-row {
    display: flex;
    justify-content: space-around;
}

.row {
  flex-direction: row;
  margin-inline: 15rem;
}

.mobile-row {
  flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .mobile-row {
    flex-direction: row;
  }
}

.col {
    display: flex;
    flex-direction: col;
    justify-content: space-around;
}

@media screen and (min-width: 1024px) {
  .weather-tile {
    padding: 20px 60px;
  }
}

@media screen and (min-width: 2000px) {
  .weather-tile {
    padding: 20px 400px;
  }
}

.btn {
  background-color: var(--color-background-dark);
  color: var(--color-body-dark);
  border-radius: var(--border-radius);
  border: 2px solid var(--color-primary);
  text-transform: uppercase;
  margin-left: 3rem;
  margin-top: 3rem;
  display: inline-block;
  padding: 10px 15px;
}

.btn:hover {
  cursor: pointer;
}

/* Color Palette */

:root {
  --color-primary: #fcb13b;
  --color-secondary: #bb4003 ;
  --color-background-light: #f9f5dd;
  --color-background-dark: #292829;
  --color-body-light: #656565;
  --color-body-dark: #efeeee;
  --border-radius: 30px;
}

  /* Typography */

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
  
body { 
  font-family: 'Roboto Condensed', sans-serif;
  background-color: rgb(165, 165, 165);
  overflow: hidden;
}
  
a {
  text-decoration: none;
}
  
p {
  font-size: 1.2rem;
}

.weather-info {
  display: flex;
  flex-direction: row;
}

.weather-info > div > p {
  font-size: 1.4rem;
  margin-inline: 2rem;
  margin-right: 10rem;
}

.weather-info > div > h2 {
  font-size: 6rem;
}

.section--dark {
  background-color: var(--color-background-dark);
  color: var(--color-body-dark);
  max-height: 15vh;
}

.section--light {
  background: rgb(252,177,59);
  background: -moz-linear-gradient(190deg, rgba(252,177,59,1) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 75%, rgba(185,183,181,1) 100%);
  background: -webkit-linear-gradient(190deg, rgba(252,177,59,1) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 75%, rgba(185,183,181,1) 100%);
  background: linear-gradient(190deg, rgba(252,177,59,1) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 75%, rgba(185,183,181,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcb13b",endColorstr="#b9b7b5",GradientType=1);
  color: var(--color-body-light);
  max-height: 30vh;
}

@media screen and (max-width: 400px) {
  .section--dark {
    max-height: 100vh;
  }
  .section--light {
    max-height: 100vh;
  }
}

@media screen and (min-width: 1024px) {
  .section--dark {
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
  }
  .section--light {
    background: -moz-linear-gradient(90deg, rgba(252,177,59,1) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 75%, rgba(185,183,181,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(252,177,59,1) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 75%, rgba(185,183,181,1) 100%);
    background: linear-gradient(90deg, rgba(252,177,59,1) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 75%, rgba(185,183,181,1) 100%);
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    box-shadow: -1px 30px 20px -6px rgba(112, 112, 112, 0.541);
  }
}

@media screen and (min-width: 2000px) {
  .section--light {
    height: 100vh;
  }
}

.divider {
  border-right: 1px solid var(--color-primary);
  height: 20rem;
  margin-top: 5%;
}

.divider:nth-last-of-type(2) {
  border-right: 1px solid var(--color-body-light);
}

/* Clouds */

.cloud-container {
  background-color: var(--color-background-dark);
  margin-bottom: -10px;
}

#cloud1{
  transition: 3s;
  animation: float-left 3s;
}
#cloud2{
    transition: 3s;
  animation: float-right 3s;
}
#cloud3{
    transition: 3s;
  animation: float-left 3s;
}
#cloud4{
    transition: 3s;
  animation: float-right 3s ;
}
#cloud5{
    transition: 3s;
  animation: float-right 3s ;
}
#cloud6{
    transform: translate(0px,0px);
    transition: transform 3s;

  transform: translate(100vw,0px);
}

@keyframes float-right{
  0%{
    transform: translate(100vw, 0px);
  }
  100%{
    transform: translate(0px, 0px);
  }
}
@keyframes float-left{
  0%{
    transform: translate(-100vw, 0px);
  }
  100%{
    transform: translate(0px, 0px);
  }
}

/* Looding Screen */

.loader-div {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgb(165, 165, 165);
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loader {
	position: relative;
	width: 10vw;
	height: 5vw;
	padding: 1.5vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loader > h1 {
  position: relative;
  top: -10rem;
  font-size: 3rem;
  color: #fff;
}

.loader span {
	position: absolute;
	height: 0.8vw;
	width: 0.8vw;
	border-radius: 50%;
	background-color: var(--color-primary);
}

.loader span:nth-child(1) {
	animation: loading-dotsA 0.5s infinite linear;
}

.loader span:nth-child(2) {
	animation: loading-dotsB 0.5s infinite linear;
}

@keyframes loading-dotsA {
	0% {
		transform: none;
	}
	25% {
		transform: translateX(2vw);
	}
	50% {
		transform: none;
	}
	75% {
		transform: translateY(2vw);
	}
	100% {
		transform: none;
	}
}

@keyframes loading-dotsB {
	0% {
		transform: none;
	}
	25% {
		transform: translateX(-2vw);
	}
	50% {
		transform: none;
	}
	75% {
		transform: translateY(-2vw);
	}
	100% {
		transform: none;
	}
}
